.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff0f5 !important;
    padding: 0 20px;
    box-shadow: 0px 2px 10px rgba(255, 105, 180, 0.2);
}

.headerTitle{
    margin: 0 !important;
    color: #ff1493 !important;
}

.ant-table-thead > tr > th{
    background-color: #ffe4e1;
    color: #ff1493;
    font-weight: bold;
}

.ant-pagination-item-active{
    background-color: #ff69b4;
    border-color: #ff69b4;
}

.ant-pagination-item-active a{
    color: white;
}
