.formContainer{
    background: #fff0f5;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(255, 105, 190, 0.3);
    width: 400px;
}

.loginForm{
    display: flex;
    flex-direction: column;
}

.formTitle{
    text-align: center;
    color: #ff1493;
    margin-bottom: 2opx;
}

.customButton{
    background: #ff69b4;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.customButton:hover{
    background: #ff1493 !important;
    color: #fff !important;
}

.ant-divider-inner-text{
    color: #ff69b4;
    font-weight: bold;
}